In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time

%matplotlib inline

In [4]:
path = os.getcwd().split('TianChi_IJCAI-17_footfall_prediction_code')[0]

shop_info = pd.read_table(path+'dataset/shop_info.txt',names=['shop_id','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name'],header=None,delimiter=',',encoding='utf8',delim_whitespace=False,index_col=False)

In [5]:
shop_info.head()

,shop_id,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点
1,2,哈尔滨,64,19,NaN,NaN,1,超市便利店,超市,NaN
2,3,南昌,774,5,3.0,2.0,0,美食,休闲茶饮,奶茶
3,4,天津,380,18,NaN,NaN,1,超市便利店,超市,NaN
4,5,杭州,263,2,2.0,2.0,0,美食,休闲食品,生鲜水果

In [6]:
shop_info.describe()

/Users/wakemeup/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,shop_id,location_id,per_pay,score,comment_cnt,shop_level
count,2000.000000,2000.000000,2000.000000,1709.000000,1709.000000,2000.000000
mean,1000.500000,583.083000,10.479000,2.677004,3.130486,0.814500
std,577.494589,335.763357,5.762479,1.024211,3.499072,0.855836
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,500.750000,287.750000,5.000000,NaN,NaN,0.000000
50%,1000.500000,577.500000,10.000000,NaN,NaN,1.000000
75%,1500.250000,877.250000,15.000000,NaN,NaN,2.000000
max,2000.000000,1159.000000,20.000000,4.000000,20.000000,2.000000

In [7]:
shop_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 10 columns):
shop_id        2000 non-null int64
city_name      2000 non-null object
location_id    2000 non-null int64
per_pay        2000 non-null int64
score          1709 non-null float64
comment_cnt    1709 non-null float64
shop_level     2000 non-null int64
cate_1_name    2000 non-null object
cate_2_name    2000 non-null object
cate_3_name    1415 non-null object
dtypes: float64(2), int64(4), object(4)
memory usage: 156.3+ KB

In [8]:
shop_info['cate_1_name'].value_counts()

美食          1415
超市便利店        579
医疗健康           2
休闲娱乐           2
美发/美容/美甲       1
购物             1
Name: cate_1_name, dtype: int64

In [12]:
shop_info['cate_2_name'].value_counts()

快餐             639
超市             372
便利店            206
休闲茶饮           177
小吃             156
休闲食品           150
烘焙糕点           122
中餐              78
其他美食            44
火锅              33
烧烤               9
汤/粥/煲/砂锅/炖菜      7
药店               2
网吧网咖             2
美容美发             1
本地购物             1
个人护理             1
Name: cate_2_name, dtype: int64

In [10]:
shop_info['cate_3_name'].value_counts()

西式快餐        405
中式快餐        220
生鲜水果        111
奶茶           92
其它小吃         87
面包           71
饮品/甜点        67
面点           50
蛋糕           39
零食           22
其它地方菜        20
西餐           19
其它休闲食品       16
日韩料理         15
米粉/米线        15
其它快餐         14
江浙菜          13
川味/重庆火锅      13
川菜           13
其它烘焙糕点       12
粤菜           12
其它火锅         11
冰激凌          10
麻辣烫/串串香       9
中式烧烤          8
其他餐饮美食        7
咖啡            6
西北菜           6
熟食            4
砂锅/煲类/炖菜      4
东北菜           3
海鲜            3
自助餐           3
粥             3
台湾菜           2
湖北菜           2
咖啡厅           2
其它烧烤          1
湘菜            1
闽菜            1
香锅/烤鱼         1
上海本帮菜         1
美食特产          1
Name: cate_3_name, dtype: int64

In [13]:

user_pay = pd.read_table(path+'dataset/user_pay.txt',names=['user_id','shop_id','time_stamp'],header=None,delimiter=',',encoding='utf8',delim_whitespace=False,index_col=False)

In [18]:
user_pay.count()

user_id       69674110
shop_id       69674110
time_stamp    69674110
dtype: int64

In [16]:
user_pay.shape[0]

69674110

In [ ]:
user_pay['time_stamp'].value_counts()