In [2]:
# -*- coding: utf-8 -*-
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import time
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
%matplotlib inline

In [5]:
path = os.getcwd().split('TianChi_IJCAI-17_footfall_prediction_code')[0]

#shop_info = pd.read_table(path+'dataset/shop_info.txt',names=['shop_id','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name'],header=None,delimiter=',',encoding='utf8',delim_whitespace=False,index_col=False)
shop_info = pd.read_table(path+'dataset/shop info with count.csv',delimiter=',',encoding='utf8',delim_whitespace=False,index_col=False)

In [6]:
shop_info.head()

,shop_id,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name,...,2016-10-22,2016-10-23,2016-10-24,2016-10-25,2016-10-26,2016-10-27,2016-10-28,2016-10-29,2016-10-30,2016-10-31
0,1,湖州,885,8,4.0,12.0,2,美食,休闲茶饮,饮品/甜点,...,202,243,216,255,172,226,257,251,281,180
1,2,哈尔滨,64,19,NaN,NaN,1,超市便利店,超市,NaN,...,155,143,78,82,97,83,96,96,115,80
2,3,南昌,774,5,3.0,2.0,0,美食,休闲茶饮,奶茶,...,127,125,47,80,61,68,103,102,104,67
3,4,天津,380,18,NaN,NaN,1,超市便利店,超市,NaN,...,211,221,81,90,104,55,110,215,196,115
4,5,杭州,263,2,2.0,2.0,0,美食,休闲食品,生鲜水果,...,161,240,454,302,1,0,215,203,291,239

In [7]:
shop_info.describe()

/Users/wakemeup/anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,shop_id,location_id,per_pay,score,comment_cnt,shop_level,2015-07-01,2015-07-02,2015-07-03,2015-07-04,...,2016-10-22,2016-10-23,2016-10-24,2016-10-25,2016-10-26,2016-10-27,2016-10-28,2016-10-29,2016-10-30,2016-10-31
count,2000.000000,2000.000000,2000.000000,1709.000000,1709.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,583.083000,10.479000,2.677004,3.130486,0.814500,0.360500,0.788500,1.042000,1.057500,...,153.428000,164.777500,138.884000,137.993000,132.673000,139.027500,150.398500,160.960000,158.536500,135.374000
std,577.494589,335.763357,5.762479,1.024211,3.499072,0.855836,3.652288,6.048393,8.154906,8.261496,...,174.548874,196.255033,138.370961,140.894274,129.347116,139.395011,145.420557,180.559462,184.322609,135.053737
min,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,500.750000,287.750000,5.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,75.000000,78.000000,66.000000,67.000000,62.000000,68.000000,75.000000,79.000000,77.000000,65.000000
50%,1000.500000,577.500000,10.000000,NaN,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,...,110.000000,116.000000,100.000000,100.500000,97.000000,100.000000,110.000000,117.000000,112.500000,99.000000
75%,1500.250000,877.250000,15.000000,NaN,NaN,2.000000,0.000000,0.000000,0.000000,0.000000,...,171.000000,182.000000,160.000000,158.000000,151.000000,158.000000,173.000000,183.000000,177.000000,156.000000
max,2000.000000,1159.000000,20.000000,4.000000,20.000000,2.000000,85.000000,89.000000,154.000000,154.000000,...,3560.000000,3944.000000,2062.000000,2577.000000,1912.000000,1978.000000,2078.000000,3687.000000,3841.000000,1973.000000

In [8]:
pd.to_datetime('2015-07-01')

Timestamp('2015-07-01 00:00:00')

In [9]:
def dateRange(start, end):
    days = (datetime.datetime.strptime(end, "%Y-%m-%d") - datetime.datetime.strptime(start, "%Y-%m-%d")).days + 1
    return [datetime.datetime.strftime(datetime.datetime.strptime(start, "%Y-%m-%d") + datetime.timedelta(i), "%Y-%m-%d") for i in xrange(days)]
#len(dateRange('2015-07-01','2016-10-31'))